@import "../../../scss/varibales";
@import "../../../scss/brakepoints";
.panel {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  @include media("<=tablet") {
    height: 90vh;

    justify-content: space-around;
  }
}
.panel-inner {
  position: absolute;
  min-width: 95%;
  max-width: 95%;
  height: 75%;
  background-color: $bg-secondary;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  @include media("<=tablet") {
    position: relative;
    flex-direction: column;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
  }
}
.small-container {
  z-index: 3;
  position: absolute;
  margin-right: 80vw;
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  @include media("<=tablet") {
    position: relative;
    text-align: center;
    margin-right: 0;
    margin: 0vw;
    width: 100%;
  }
}
.small-container2 {
  z-index: 4;
  height: 100%;
  background-color: $bg-secondary;
  margin-right: 70vw;
  min-width: 50%;
  max-width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  color: $font-secondary;
  @include media("<=tablet") {
    position: absolute;
    height: 60%;
    min-width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    margin-right: 0;
    top: 0;
  }
}
.about {
  margin: 2vw;
  font-size: 3vw;
  font-weight: bold;
  align-self: flex-start;
  @include media("<=tablet") {
    font-size: 5vw;
    margin: 5vw;
  }
  @include media("<=phone") {
    font-size: 6vw;
    margin: 5vw;
  }
}
.a {
  color: $font-secondary;
  font-weight: bold;
}
.p {
  width: 80%;
  margin: 2vw;
  font-size: 2vw;
  @include media("<=tablet") {
    font-size: 3vw;
    margin: 0vw;
  }
  @include media("<=phone") {
    font-size: 4vw;
  }
}
.h4 {
  margin: 0;
  width: 100%;
  font-size: 6vw;
  color: $font-secondary;
  @include media("<=tablet") {
    font-size: 8vw;
  }
  @include media("<=phone") {
    font-size: 8vw;
  }
}
.ul {
  width: 100%;
  margin-right: 7vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  font-size: 2vw;
  color: $font-secondary;
  @include media("<=tablet") {
    font-size: 5vw;
    margin: 0;
    margin-right: 0vw;
    padding: 0;
  }
}
.popup {
  width: 15%;
  font-size: 1vw;
  font-weight: bold;
  position: absolute;
  bottom: 18vh;
}
.img {
  width: 4.5vw;
  @include media("<=tablet") {
    width: 9vw;
  }
}
.slika {
  z-index: 5;
  position: absolute;
  margin-left: 10vw;
  @include media("<=tablet") {
    margin: 0;
    width: 30vh;
    position: relative;
    margin-left: 0;
  }
}
.learnmore {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-right: 40vw;
  font-size: 1vw;
  color: $font-secondary;
  @include media("<=tablet") {
    margin-right: 0;
    position: relative;
    font-size: 2.5vw;
  }
  @include media("<=phone") {
    margin-right: 0;
    position: relative;
    font-size: 6vw;
  }
}
