@import "../../scss/varibales";
@import "../../scss/brakepoints";
.container {
  z-index: 1;
  overflow-x: hidden;
  overscroll-behavior: none;
  width: 700%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  @include media("<=tablet") {
    width: unset;
    height: unset;
  }
}
