.panel {
  background-color: rgb(245, 218, 190);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel-inner {
  width: 90%;
  height: 75%;
  background-color: brown;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.title {
  color: rgb(245, 218, 190);
  z-index: 0;
  margin-right: 25vw;
  margin-bottom: 30vw;
  font-size: 12vw;
}
.line {
  z-index: 1;
  position: absolute;
  background-color: brown;
  width: 80vw;
  min-height: 30vh;
  margin-right: 20vw;
}
.arrow {
  position: absolute;
  margin-top: 25vw;
  margin-right: 25vw;
}
