@import "../../../scss/varibales";
@import "../../../scss/brakepoints";
.panel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media("<=tablet") {
    padding-top: 10vh;
    height: 70vh;
    flex-direction: row;
    align-self: flex-start;
  }
}

.panel-inner {
  width: 90%;
  height: 75%;
  background-color: $bg-secondary;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  @include media("<=tablet") {
    justify-content: center;
    width: 100%;
    height: 50vh;
  }
}
.title {
  color: $font-secondary;
  z-index: 0;
  margin-right: 25vw;
  margin-bottom: 30vw;
  font-size: 12vw;
  @include media("<=tablet") {
    font-size: 15vw;
    margin-right: 0;
    margin-bottom: 0;
  }
  @include media("<=phone") {
    font-size: 15vw;
  }
}
.line {
  z-index: 1;
  position: absolute;
  background-color: $bg-secondary;
  width: 80vw;
  height: 15vh;
  margin-right: 20vw;
  @include media("<=tablet") {
    position: relative;
    width: 100vw;
    min-height: 15vh;
    max-height: 15vh;
    margin-right: 0;
  }
}
.arrow {
  position: absolute;
  margin-top: 25vw;
  margin-right: 25vw;
  @include media("<=tablet") {
    position: relative;
    margin-top: 0;
    margin-right: 0;
  }
}
