@import "../../../scss/varibales";
@import "../../../scss/brakepoints";
.panel {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  @include media("<=tablet") {
    height: 80vh;
    padding-bottom: 5vh;
    padding-top: 5vh;
    justify-content: space-around;
  }
}
.panel-inner {
  position: absolute;
  min-width: 95%;
  max-width: 95%;
  height: 75%;
  background-color: $bg-secondary;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  @include media("<=tablet") {
    position: relative;
    flex-direction: column;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
  }
}
.small-container {
  z-index: 3;
  position: absolute;
  margin-right: 85vw;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  @include media("<=tablet") {
    position: relative;
    text-align: center;
    margin-right: 0;
    height: 30%;
    margin: 0vw;
    width: 90%;
  }
}
.small-container2 {
  z-index: 4;
  height: 100%;
  background-color: $bg-secondary;
  margin-right: 77vw;
  min-width: 40%;
  max-width: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: $font-secondary;
  @include media("<=tablet") {
    position: absolute;
    height: 60%;
    min-width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-right: 0;
    top: 0;
  }
}
.about {
  margin: 0vw;
  padding-bottom: 2vw;
  font-size: 2vw;
  font-weight: bold;
  align-self: flex-start;

  @include media("<=tablet") {
    font-size: 5vw;
    margin: 5vw;
  }
  @include media("<=phone") {
    font-size: 6vw;
    margin: 5vw;
  }
}
.p {
  width: 80%;
  margin: 0vw;
  font-size: 1.5vw;
  @include media("<=tablet") {
    font-size: 3vw;
    margin: 0vw;
  }
  @include media("<=phone") {
    font-size: 4vw;
  }
}
.a {
  color: $font-secondary;
  font-weight: bold;
}
.h4 {
  margin: 0;
  width: 100%;
  font-size: 6vw;
  color: $font-secondary;
  @include media("<=tablet") {
    font-size: 8vw;
  }
  @include media("<=phone") {
    font-size: 8vw;
  }
}
.ul {
  width: 100%;
  margin-right: 7vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  font-size: 2vw;
  color: $font-secondary;
  @include media("<=tablet") {
    font-size: 5vw;
    margin: 0;
    margin-right: 0vw;
    padding: 0;
  }
}
.popup {
  width: 15%;
  font-size: 1vw;
  font-weight: bold;
  position: absolute;
  bottom: 18vh;
}
.img {
  width: 4.5vw;
  @include media("<=tablet") {
    width: 9vw;
  }
}

.slika-container {
  position: absolute;
  margin-right: 35vw;
  margin-bottom: 25vw;
  z-index: 4;
  @include media("<=tablet") {
    margin: 0;
    width: 40vh;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .slika {
    z-index: 4;
    position: absolute;
    margin-left: 0vw;
    width: 40vw;
    @include media("<=tablet") {
      margin: 0;
      width: 40vh;
      position: relative;
      margin-left: 0;
    }
  }
  .slika2 {
    z-index: 5;
    position: absolute;
    margin-left: 25vw;
    margin-top: -2vw;
    width: 13vw;
    @include media("<=tablet") {
      right: 2vw;
      width: 15vh;
      position: absolute;
      margin-left: 0;
      margin-top: -8vw;
    }
  }
}

.learnmore {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-right: 50vw;
  font-size: 1vw;
  color: $font-secondary;
  @include media("<=tablet") {
    margin-right: 0;
    position: relative;
    font-size: 2.5vw;
  }
  @include media("<=phone") {
    margin-right: 0;
    margin: 7.5vw;
    position: relative;
    font-size: 6vw;
  }
}
