@import "../../scss/varibales";
@import "../../scss/brakepoints";
.extended-background {
  width: 100vw;
  height: 140vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  @include media("<=tablet") {
    height: 100vh;
    align-items: flex-start;
  }
}
.container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.about-contact {
  margin-left: 50vw;
  height: 50%;
  width: 80%;
  background-color: $bg-secondary;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  @include media("<=tablet") {
    width: 65%;
    margin-left: 35vw;
    height: 30%;
  }
}
.p {
  margin-right: 5vw;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: $font-secondary;
  font-size: 2vw;
  height: 100%;
  width: 70%;
  @include media("<=tablet") {
    font-size: 3.5vw;
  }
}
.a {
  align-self: flex-start;
  color: $font-secondary;
  font-weight: bold;
}
.social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  @include media("<=tablet") {
    justify-content: space-around;
    height: 30%;
  }
}
.img {
  width: 8vw;
  margin: 2vw;
  @include media("<=tablet") {
    width: 12vw;
  }
}
.h6 {
  position: absolute;
  left: 50%;
}
