@import "../../../scss/varibales";
@import "../../../scss/brakepoints";
.panel {
  z-index: -1;
  padding-top: 25vh;
  width: 100%;
  height: 140%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  @include media("<=tablet") {
    height: 100%;
  }
}
.panel-inner {
  width: 95%;
  height: 30%;
  background-color: $bg-secondary;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  @include media("<=tablet") {
    width: 100%;
    height: 50vh;
  }
}
.title {
  color: $font-secondary;
  align-self: center;
  z-index: 0;
  margin: 0;
  position: relative;
  font-size: 14vw;
  @include media("<=tablet") {
    font-size: 14vh;
  }
  @include media("<=phone") {
    font-size: 10vh;
  }
}
.line {
  z-index: 1;
  background-color: $bg-secondary;
  width: 80%;
  height: 20vh;
  @include media("<=tablet") {
    width: 100vw;
    height: 15vh;
  }
}
.arrow {
  align-self: center;
  @include media("<=tablet") {
    margin-left: 0;
  }
}
