@import "../../../scss/varibales";
@import "../../../scss/brakepoints";
.extended-background {
  padding-top: 25vh;
  width: 100vw;
  height: 140vh;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media("<=tablet") {
    height: 100vh;
    padding-top: 0;
  }
}
.intro-background {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.h2box {
  z-index: 0;
  position: absolute;
  left: 0;
  width: 90vw;
  height: 15vh;
  background-color: $bg-secondary;
}
.small-container {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.pbox {
  z-index: 0;
  left: -10vw;
  position: absolute;
  width: 70vw;
  height: 65vh;
  background-color: $bg-secondary;
  @include media("<=tablet") {
    height: 50vh;
  }
}
.p {
  color: $font-secondary;
  z-index: 1;
  margin-right: 10vw;
  font-size: 2vw;
  max-width: 50vw;
  @include media("<=tablet") {
    font-size: 2.8vw;
  }
  @include media("<=phone") {
    font-size: 3.5vw;
  }
}
.img {
  width: 25vw;
  @include media("<=tablet") {
    width: 25vh;
  }
  @include media("<=phone") {
    width: 15vh;
  }
}
