@import "../../../scss/varibales";
@import "../../../scss/brakepoints";
.panel {
  z-index: -1;
  padding-top: 25vh;
  width: 100%;
  height: 140%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: nowrap;
  @include media("<=tablet") {
    height: 100%;
    padding-top: 0vh;
  }
}
.panel-inner {
  width: 95%;
  height: 75%;
  background-color: $bg-secondary;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @include media("<=tablet") {
    width: 100%;
  }
}
.title {
  color: $font-secondary;
  z-index: 0;
  margin-bottom: 30vw;
  margin-left: 17vw;
  position: absolute;
  font-size: 15vw;
  @include media("<=tablet") {
    margin-left: 0;
  }
}
.line {
  margin-top: 30vh;
  align-self: flex-end;
  z-index: 1;
  background-color: $bg-secondary;
  width: 80vw;
  height: 30vh;
  margin-left: 20vw;
  @include media("<=tablet") {
    width: 100vw;
    height: 20vh;
  }
}
.arrow {
  margin-left: 20vw;
  @include media("<=tablet") {
    margin-left: 0;
  }
}
