@import "../../../scss/varibales";
.panel {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.panel-inner {
  position: absolute;
  min-width: 90%;
  height: 75%;
  background-color: $bg-secondary;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.title {
  color: $font-secondary;
  z-index: 0;
  margin-right: 65vw;
  margin-bottom: 25vw;
  position: absolute;
  font-size: 15vw;
}
.line {
  top: 40vh;
  z-index: 1;
  position: absolute;
  background-color: $bg-secondary;
  width: 100vw;
  height: 30vh;
  right: 60vw;
}
.arrow {
  position: absolute;
  margin-top: 35vh;
  margin-left: 30vw;
}
